@* Keep in mind that the parent element should be in relative position (or .lz-module) *@
<div data-bind="toggleClass: loading(), toggleClassName: 'lz-module-loading'" class="hide">
    <span class="center-img"></span>
    <img src="~/Images/wait.gif" alt="Module Loading..." />
</div>