html { background-color: #e2e2e2;margin: 0;padding: 0;}
body {background-color: #fff;border-top: solid 10px #000;color: #333;font-size: 12px;font-family: 'lucida grande', Verdana, Helvetica, Sans-Serif;margin: 0;padding: 0;}

a {color: #333;outline: none;padding-left: 3px;padding-right: 3px;text-decoration: underline;}

    a:link, a:visited,
    a:active, a:hover {color: #333;}
    a:hover {background-color: #c7d1d6;}

img {border:none;}

header, footer, hgroup, nav, section {display: block;}

mark {background-color: #a6dbed;padding-left: 5px;padding-right: 5px;}

.float-left {float: left;}
.float-right {float: right;}
.clear-both {clear:both}
.clear-fix:after {content: ".";clear: both;display: block;height: 0;visibility: hidden;}

h1, h2, h3,h4, h5, h6 {color: #000;margin-bottom: 0;padding-bottom: 0;white-space:nowrap;}

h1 {font-size: 2em;}
h2 {font-size: 1.75em;}
h3 {font-size: 1.2em;}
h4 {font-size: 1.1em;}
h5, h6 {font-size: 1em;}

    h5 a:link, h5 a:visited, h5 a:active {padding: 0;text-decoration: none;}

.ie9-placeholder {color: #bababa;position: absolute; overflow-x:hidden;top:1px;}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color:#666; }
input:-moz-placeholder, textarea:-moz-placeholder { color:#666; }
input::-moz-placeholder, textarea::-moz-placeholder { color:#666; }
input:-ms-input-placeholder, textarea:-ms-input-placeholder { color:#666; }
/*.placeholder {color:silver;font-style:italic;position:absolute;margin:5px;white-space:nowrap;}*/

/* General classes */
.dialog {display:none;} /*hide dialogs by default*/
.rel {position:relative;}
[data-required] {background:url(/images/required.png) right top no-repeat; }
select[data-required] {background-position-x:170px; }
.add-choice {display:none;position:absolute; margin: -33px 0 0 172px; padding: 4px 6px 4px; border: #08b2fe 1px solid; color: #08b2fe; background:#fff;cursor:pointer;}
.add-form {position:absolute;border: #e2e2e2 1px solid;margin:-7px 0;background:#fff;}

/* main layout
----------------------------------------------------------*/
.content-wrapper {margin: 0 auto;max-width: 960px;}

#body {background-color: #efeeef;clear: both;padding-bottom: 35px;}

    .main-content {background: url("../Images/accent.png") no-repeat;padding-left: 10px;padding-top: 30px;}

    .featured + .main-content {background: url("../Images/heroAccent.png") no-repeat;}

header .content-wrapper {padding-top: 20px; }

footer {clear: both;background-color: #e2e2e2;font-size: .8em;height: 100px;}


/* site title
----------------------------------------------------------*/
.site-title {color: #c8c8c8;font-family: Rockwell, Consolas, "Courier New", Courier, monospace;font-size: 2.3em;margin: 0;display:block;float:left;}
    .site-title img {max-height:80px;border:solid 0 #fff;display:block;}

.site-title a, 
.site-title a:hover, 
.site-title a:active {background: none;color: #c8c8c8;outline: none;text-decoration: none;padding:0;}


/* login
----------------------------------------------------------*/
#login {display: block;font-size: .85em;margin: 0 0 10px;text-align: right;}

    #login a {background-color: #d3dce0;margin-left: 10px;margin-right: 3px;padding: 2px 3px;text-decoration: none;}
    #login a.username {background: none;margin: 0;padding: 0;text-decoration: underline;}
    #login ul {margin: 0;}
    #login li {display: inline;list-style: none;}

    .view { display:none; }

/* menu
----------------------------------------------------------*/
ul#menu {font-size: 1.3em;font-weight: 600;margin: 0 0 5px;padding: 0;text-align: right;}

    ul#menu li {display: inline;list-style: none;padding-left: 10px;}
    ul#menu li.selected a {background-color: #fff;color: #000;}
        ul#menu li a {background: none;color: #999;text-decoration: none;}
        ul#menu li a:hover {color: #333;text-decoration: none;}


/* page elements
----------------------------------------------------------*/
/* featured */
.featured {background-color: #fff;}

    .featured .content-wrapper {background-color: #7ac0da;background-image: -ms-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);background-image: -o-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #7ac0da), color-stop(1, #a4d4e6));background-image: -webkit-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);background-image: linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);color: #3e5667;padding: 20px 40px 30px 40px;}

        .featured hgroup.title h1, .featured hgroup.title h2 {color: #fff;}

        .featured p {font-size: 1.1em;}

/* page titles */
hgroup.title {margin-bottom: 10px;}

hgroup.title h1, hgroup.title h2 {display: inline;}

hgroup.title h2 {font-weight: normal;margin-left: 3px;}

/* features */
section.feature {width: 300px;float: left;padding: 10px;}

/* content */
article {float: left;width: 70%;}

aside {float: right;width: 25%;}
    aside ul {list-style: none;padding: 0;}
        aside ul li {background: url("../Images/bullet.png") no-repeat 0 50%;padding: 2px 0 2px 20px;}

.label {font-weight: 700;}

/* narrow page */
.narrow {width: 450px;margin-left: auto;margin-right: auto;border:1px dashed #ffea00;padding: 10px;}

    .narrow .validation-error {display: block;margin-left: 15px;}

    .narrow .validation-summary-errors ul {margin: 0;padding: 0;}

    .narrow .validation-summary-errors li {list-style: none;margin: 0;}
    .narrow input {width: 425px;}

    .narrow input[type="checkbox"],
    .narrow input[type="submit"],
    .narrow input[type="button"],
    .narrow button {width: auto;}

    .narrow input[type="password"] { width:200px; }

/* login page */

    #viewLogin input[type="password"] { width: 425px; }

    #viewRegister .user-found { position: absolute; width: 24px; height: 24px; margin-top: -35px; margin-left: 410px; }
        #viewRegister .user-found.false {background: transparent url(/images/greenv.png); }
        #viewRegister .user-found.true { background: transparent url(/images/redx.png); }
        #viewRegister .user-found.wait { background: transparent url(/images/wait.gif); }
    #viewRegister .leagal { display:inline; }
    #viewRegister #leagalMessage { display: none; }

.login-button { float:right; }
#socialLoginForm { width: 100%; display: inline-block; }

    #socialLoginForm h2 { margin-bottom:  5px; }

#socialLoginList { width:100%; padding:0; }
#socialLoginList li { margin-bottom: 12px; float:left; list-style:none; }

#socialLoginList button { border:0 solid #fff; background:transparent; padding-left: 47px; font: normal 13pt Tahoma; color: #fff; height: 37px; width:207px; }
#socialLoginList li.facebook button { background: transparent url(/Images/fb-login.png); margin-right: 27px; }
#socialLoginList li.linkedin button { background: transparent url(/Images/li-login.png); }

#logoutForm {display: inline;}

/* contact */
.contact h3 {font-size: 1.2em;}

.contact p {margin: 5px 0 0 10px;}

.contact iframe {border: 1px solid #333;margin: 5px 0 0 10px;}

/* forms */
fieldset {border: none;margin: 0;padding: 0;}

    fieldset legend {display: none;}

    fieldset ol {padding: 0;list-style: none;}

        fieldset ol li {padding-bottom: 5px;}
        fieldset ol li .info {width:15px;height:15px;background:transparent url(/Images/info.png);margin:3px 15px 0 0;float:right;}

label {display: block;font-size: 1em;font-weight: 600;width: 90%;}

label.checkbox {display: inline;}

input, textarea, select {border: 1px solid #e2e2e2;background: #fff;color: #333;font-size: 1.2em;margin: 5px 0 6px 0;padding: 5px;width: 200px;}
select {width:213px;}

textarea {font-family: inherit;height: 59px;}

    input:focus, textarea:focus {border: 1px solid #7ac0da;}

    input[type="checkbox"] {
        background: transparent;
        border: inherit;
        width: auto;
    }

    input[type="submit"],
    input[type="button"],
    button {
        background-color: #d3dce0;
        border: 1px solid #787878;
        cursor: pointer;
        font-size: 1.2em;
        font-weight: 600;
        padding: 7px;
        margin-right: 8px;
        width: auto;
    }

    td input[type="submit"],
    td input[type="button"],
    td button {
        font-size: 1em;
        padding: 4px;
        margin-right: 4px;
    }

/* info and errors */
.message-info {border: 1px solid;clear: both;padding: 10px 20px;}

.message-error {clear: both;color: #e80c4d;font-size: 1.1em;font-weight: bold;margin: 20px 0 10px 0;}

.message-success {color: #7ac0da;font-size: 1.3em;font-weight: bold;margin: 20px 0 10px 0;}

.error {color: #e80c4d;border:1px solid #e80c4d;}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}


/* tables
----------------------------------------------------------*/
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 0.75em;
    border: 0 none;
}

th {font-size: 1em;text-align: left;border: none 0px;padding: 0.25em 2em 0.25em 0em;white-space:nowrap;}

    th a {
        display: block;
        position: relative;
    }

    th a:link, th a:visited, th a:active, th a:hover {
        color: #333;
        font-weight: 600;
        text-decoration: none;
        padding: 0;
    }

    th a:hover {
        color: #000;
    }

    th.asc a, th.desc a {
        margin-right: .75em;
    }

    th.asc a:after, th.desc a:after {
        display: block;
        position: absolute;
        right: 0em;
        top: 0;
        font-size: 0.75em;
    }

    th.asc a:after {
        content: '▲';
    }

    th.desc a:after {
        content: '▼';
    }

td {padding: 0.25em 2em 0.25em 0em;border: 0 none;}

tr.pager td {padding: 0 0.25em 0 0;}


/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 850px) {

    /* header
    ----------------------------------------------------------*/
    header .float-left,
    header .float-right {
        float: none;
    }

    /* logo */
    header .site-title {
        margin: 10px;
        text-align: center;
    }

    /* login */
    #login {
        font-size: .85em;
        margin: 0 0 12px;
        text-align: center;
    }

        #login ul {
            margin: 5px 0;
            padding: 0;
        }

        #login li {
            display: inline;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        #login a {
            background: none;
            color: #999;
            font-weight: 600;
            margin: 2px;
            padding: 0;
        }

        #login a:hover {
            color: #333;
        }

    /* menu */
    nav {
        margin-bottom: 5px;
    }

    ul#menu {
        margin: 0;
        padding: 0;
        text-align: center;
    }

        ul#menu li {
            margin: 0;
            padding: 0;
        }


    /* main layout
    ----------------------------------------------------------*/
    .main-content,
    .featured + .main-content {
        background-position: 10px 0;
    }

    .content-wrapper {
        padding-right: 10px;
        padding-left: 10px;
    }

    .featured .content-wrapper {
        padding: 10px;
    }

    /* page content */
    article, aside {
        float: none;
        width: 100%;
    }

    /* ordered list */
    ol.round {
        list-style-type: none;
        padding-left: 0;
    }

        ol.round li {
            padding-left: 10px;
            margin: 25px 0;
        }

            ol.round li.zero,
            ol.round li.one,
            ol.round li.two,
            ol.round li.three,
            ol.round li.four,
            ol.round li.five,
            ol.round li.six,
            ol.round li.seven,
            ol.round li.eight,
            ol.round li.nine {
                background: none;
            }

     /* features */
     section.feature {
        float: none;
        padding: 10px;
        width: auto;
     }

        section.feature img {
            color: #999;
            content: attr(alt);
            font-size: 1.5em;
            font-weight: 600;
        }

    /* forms */
    input {width: 90%;}

    /* narrow page */
    .narrow {float: none;width: auto;}

        .narrow input,
        .narrow input[type="password"] {width: 260px !important;}

        .narrow .validation-error {display: block;margin-left: 15px;}
        
    /* login page */

    #viewLogin 
    #socialLoginForm {margin-left: 0;float: none;width: auto;}


    /* footer
    ----------------------------------------------------------*/
    footer .float-left,
    footer .float-right {float: none;}

    footer {text-align: center;height: auto;padding: 10px 0;}

        footer p {margin: 0;}

.add-choice {margin: -33px 0 0 162px;}

}

/* View Model
    ----------------------------------------------------------*/
.loader {width:100%;text-align:center; }
.loader img {display:none;}

.vm-view {display:none;}
    .vm-view ul { list-style:none;padding:10px;}
    .vm-view label { width: 140px;display:inline-block; }

    .vm-view .edit .head {height:100px;}
    .vm-view .edit .head .prf-pic {float:left;padding-right:20px;cursor:pointer;display:block;}
        .vm-view .edit .head .prf-pic .pic-edit {position:absolute; display:none;margin:-50px 0 0 5px;opacity:0.5;color:#fff;background:#000;border:2px solid #fff;}
        .vm-view .edit .head .prf-pic:hover .pic-edit {display:block;}

    .vm-view .edit .head h2 {display:inline;}
    .vm-view .edit .head .email { display:inline-block; }
    .vm-view .edit .head .email div { padding:3px; }
    .vm-view .edit .head .email a:hover {background:none;}

    .vm-view .social .soc-link {width:16px;height:16px;display:inline-block;cursor:pointer;}
    .vm-view .social .facebook {background:#333;}
    .vm-view .social .on .facebook {background:#2745f8;}
    .vm-view .social .linkedin {background:#666;}
    .vm-view .social .on .linkedin {background:#0fe51a;}
    .vm-view .social .twitter {background:#c7d1d6;}
    .vm-view .social .on .twitter {background:#08b2fe;}
    .vm-view .social a { text-decoration:none;}

    #body .ui-tabs .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; }

.btn-mini { background: transparent url(none) scroll no-repeat top center; width:22px; height:22px;border:none; }
.tr-highlight tr .btn-mini {visibility:hidden;float:left;}
.tr-highlight tr:hover {background:#d8e0f7; }
.tr-highlight tr:hover .btn-mini {visibility:visible;}
.btn-edit { background-image: url(/images/edit.jpg);}
.btn-delete { background-image: url(/images/delete.jpg);}

.ui-tabs-panel > div {display:inline-block;}
.chk-height {height:41px;}

.ui-autocomplete-loading {background: white url('/images/wait.gif') right center no-repeat;}
.ui-autocomplete {max-height: 200px; overflow-y: auto; overflow-x: hidden;list-style:none;padding:0;}
.ui-autocomplete li table { width:300px;}
.ui-autocomplete li table td { padding:0;  }
.ui-autocomplete li img {width:30px; height:30px;}
.ui-menu .ui-menu-item a { }
.ui-menu .ui-menu-item a div { padding-right: 15px; }
.ui-menu .ac-big a {display:inline-block;height:auto;height: 55px;}
/* Contacts View Model
    ----------------------------------------------------------*/
#tabContacts .categories {width: 100%; display: inline-block;padding:0;margin:0;}
    #tabContacts .categories ul {padding:0;margin:0;}
    #tabContacts .categories li {float:left;padding:0 5px 0 0;}

    #tabContacts .categories a {text-decoration:none;}
    #tabContacts .categories .selected {background:red;}
    #tabContacts .categories .cat-add input {width:100px; padding:0;margin:0;}
    #tabContacts .categories .cat-add button {padding:0;margin:0;}
    #tabContacts .categories .remove {border: 1px solid red; margin-top: -30px;background:#fff; position: absolute;display:none;}
    #tabContacts .categories .cat-cts li:hover .remove {display:block;}

#tabContacts .results {float:left;}
#tabContacts .hover-profile {float:left;width:300px; height:300px;border:solid 1px #c7d1d6;}
    #tabContacts .hover-profile > div > div {padding:7px;}