<div data-bind="with: contacts" class="lz-module">
    @Html.Partial("_ModuleLoader")
    <div data-bind="showHide: loaded" class="vm-view vm-contacts">

        <!-- Main View -->
        <div data-bind="if: !showEditor()">

            <div class="float-right" data-bind="qtip: '<p>Contacts help <br/> how nice! :)</p>'"><img src="/images/help-16x16.png" /></div>

            <!-- Actions -->
            <ul class="actions">
                <li>
                    <input type="button" value="Add Contact" data-bind="click: edit" />
                </li>
                <li>
                    <input type="text" id="txtFreeText" value="" placeholder="Search..." data-bind="value: filter, valueUpdate: 'afterkeydown'" />
                </li>
            </ul>

            <!-- Categories -->
            <ul class="categories">
                <li class="cat-all" data-bind="toggleClass: categoryId() == 0, toggleClassName: 'selected'">
                    <a href="#" data-bind="click: function () { categoryId(0) }"><span>All Contacts</span></a>
                </li>
                <li class="cat-cts">
                    <ul data-bind="foreach: Categories">
                        <!-- -ko if: $index() < 8-->
                        <li data-bind="toggleClass: $parent.categoryId() == Id, toggleClassName: 'selected'">
                            <a href="#" data-bind="click: function () { $parent.categoryId(Id) }"><span data-bind=" text: Name"></span></a>
                            <div class="remove" data-bind="if: UserId != null"><a href="#" data-bind="click: $parent.deleteCategory"><span class="ui-icon ui-icon-close"></span></a></div>
                        </li>
                        <!-- /ko -->
                    </ul>
                </li>
                <li class="cat-new" data-bind="if: !tabsAddNewMode() && Categories().length >= 0">
                    <a href="#" data-bind="click: tabsAddNewCat"><span>Add +</span></a>
                </li>
                <li class="cat-add" data-bind="if: tabsAddNewMode">
                    <input data-bind="value: tabsNewCategoryName, lzFocus: tabsAddNewMode" />
                    <button data-bind="click: tabsSaveCategory">Save</button>
                    <button data-bind="click: tabsCancelNewCat">Cancel</button>
                </li>
            </ul>

            <!-- Results -->
            <div class="_Container" >@*data-bind="pageScoll: { rowHeight: 64, headerHeight: 30, heightDelta: 290 }">*@
                <div class="results _ScrollArea">
                    <table class="Sortable">
                        <colgroup>
                            <col style="width:35%;" />
                            <col style="width:23%;" />
                            <col style="width:25%;" />
                            <col style="width:17%;" />
                        </colgroup>
                        <thead>
                            <tr class='_Fixable sortable-head'>
                                <th><span class='fix sort' sort-exp="FirstName:LastName" data-bind="
    css: { down: isSortColumn($element), up: sortDir() == 'desc' }, click: sortClick">
                                    Name<span class="ui-icon" /></span></th>
                                <th><span class='fix sort' sort-exp="Category.Name:FirstName" data-bind="
    css: { down: isSortColumn($element), up: sortDir() == 'desc' }, click: sortClick">
                                    Category<span class="ui-icon"/></span></th>
                                <th><span class='fix sort' sort-exp="Rating" sort-type="n" data-bind="
    css: { down: isSortColumn($element), up: sortDir() == 'desc' }, click: sortClick">
                                    Rating<span class="ui-icon"/></span></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="tr-highlight" data-bind="foreach: sortedCollection">
                            <tr onmousemove="ko.contextFor(this).$parent.updateHover(ko.dataFor(this));" data-bind="click: $parent.edit">
                                <td>
                                    <div class="float-left prf-pic img-46">
                                        <span data-bind="ifnot: ProfilePicture"><img src="~/Images/profile.jpg" /></span>
                                        <span data-bind="if: ProfilePicture"><img data-bind="attr: { src: ProfilePicture }" src="" /></span>
                                    </div>
                                    <span data-bind="text: FullName"></span>
                                    <span data-bind="if: Category().Id"><br /><b><span data-bind="text: Category().Name"></span></b></span>
                                    <span class="company" data-bind="if: Company().Id"><br /><span data-bind="text: Company().FirstName"></span></span>
                                </td>
                                <td>
                                    <div class="email" data-bind="if: Email">
                                        <a data-bind="attr: { href: 'mailto:' + Email() }">
                                            <span class="ui-icon ui-icon-mail-closed float-left"></span>
                                            <span data-bind="text: Email"></span>
                                        </a>
                                    </div>
                                    <div class="social clear-both" style="padding-top:5px;">
                                        <a class="on" data-bind="visible: Social().facebook != null, attr: { 'href': Social().facebook } " target="_blank">
                                            <div class="soc-link facebook" title="Facebook Profile Link"></div>
                                        </a>
                                        <a class="on" data-bind="visible: Social().linkedin != null, attr: { 'href': Social().linkedin } " target="_blank">
                                            <div class="soc-link linkedin" title="Linkedin Profile Link"></div>
                                        </a>
                                        <a class="on" data-bind="visible: Social().twitter != null, attr: { 'href': Social().twitter } " target="_blank">
                                            <div class="soc-link twitter" title="Twitter Profile Link"></div>
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <div class="phone" data-bind="if: PhoneNumber">
                                        <div data-bind="text: 'Phone: ' + PhoneNumber()"></div>
                                    </div>
                                    <div class="phone" data-bind="if: MobileNumber">
                                        <div data-bind="text: 'Mobile: ' + MobileNumber()"></div>
                                    </div>
                                    <div class="phone" data-bind="if: FaxNumber">
                                        <div data-bind="text: 'Fax: ' + FaxNumber()"></div>
                                    </div>
                                </td>
                                <td>
                                    <span data-bind="if: Rating != null"><span data-bind="    rateit: { value: Rating, max: 5, step: 0.1, readonly: true }"></span></span>
                                    <button class="btn btn-mini btn-edit" data-bind="click: $parent.edit" title="Edit Contact"></button>
                                    <button class="btn btn-mini btn-delete" data-bind="click: $parent.remove" title="Delete Contact"></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Profile Hover -->
            <div class="hover-profile hide" data-bind="if: false@*with: hover()*@">
                <div data-bind="if: Id > 0, css : { hide: !(Id > 0) }">
                    <div class="float-left prf-pic img-prv">
                        <span data-bind="ifnot: ProfilePicture"><img src="~/Images/profile.jpg" /></span>
                        <span data-bind="if: ProfilePicture"><img data-bind="attr: { src: ProfilePicture }" src="" /></span>
                    </div>
                    
                    <div>
                        <span data-bind="text: FirstName + ' ' + (LastName || '')"></span>
                        <span data-bind="if: Category != null"><span data-bind="text: '(' + Category.Name + ')'"></span></span>
                    </div>
                    <div data-bind="if: Company != null">
                        <span>Company: </span>
                        <span data-bind="text: Company.FirstName"></span>
                    </div>
                    <div class="email" data-bind="if: Email">
                        <a data-bind="attr: { href: 'mailto:' + Email }">
                            <div class="float-left"><img src="~/Images/email.png" height="20" /></div>
                            <div data-bind="text: Email" class="float-left"></div>
                        </a>
                    </div>

                    <div class="rating">
                        <div data-bind="rateit: { value: $parent.hoverRating, max: 5, step: 0.1, readonly: true }"></div>
                    </div>

                    <div class="social">
                        <a class="on" data-bind="visible: $parent.HSocial().facebook, attr: { 'href': $parent.HSocial().facebook } " target="_blank">
                            <div class="soc-link facebook" title="Facebook Profile Link"></div>
                        </a>
                        <a class="on" data-bind="visible: $parent.HSocial().linkedin, attr: { 'href': $parent.HSocial().linkedin } " target="_blank">
                            <div class="soc-link linkedin" title="Linkedin Profile Link"></div>
                        </a>
                        <a class="on" data-bind="visible: $parent.HSocial().twitter, attr: { 'href': $parent.HSocial().twitter } " target="_blank">
                            <div class="soc-link twitter" title="Twitter Profile Link"></div>
                        </a>
                    </div>

                    <div class="phone" data-bind="if: PhoneNumber">
                        <div data-bind="text: 'Phone: ' + PhoneNumber"></div>
                    </div>
                    <div class="phone" data-bind="if: MobileNumber">
                        <div data-bind="text: 'Mobile: ' + MobileNumber"></div>
                    </div>
                    <div class="phone" data-bind="if: FaxNumber">
                        <div data-bind="text: 'Fax: ' + FaxNumber"></div>
                    </div>
                </div>
                <div data-bind="ifnot: Id > 0, css : { hide: Id > 0 }">
                    Hover on a contact to preview his\her details
                </div>
            </div>
        </div>

        <!-- Editor Part -->
        <div data-bind="if: showEditor" class="edit">

            <div class="float-right" data-bind="qtip: '<p>This is a mambo jambo text <br/> how nice :)</p>'"><img src="/images/help-16x16.png" /></div>

            <div data-bind="{ with: select(), jqValidation: validationContext }">

                <!-- Header Editor Part -->
                <section class="head">
                    <div class="prf-pic img-prv" data-bind="
    qtip: '#dialog-picture',
    qtipType: 'Form',
    qtipPosition: { my: 'left center', at: 'right center'},
    qtipOnShow: $parent.changePicture">
                        <span data-bind="ifnot: ProfilePicture"><img src="~/Images/profile.jpg" /></span>
                        <span data-bind="if: ProfilePicture"><img data-bind=" attr: { src: ProfilePicture }" src="" /></span>
                        <div class="pic-edit">Change</div>

                        <!-- Url enter dialog -->
                        <div id="dialog-picture" class="dialog" title="Enter a Profile Picture">
                          <form>
                            <fieldset>
                                <label for="PictureUrl">Picture Url</label>
                                <textarea name="PictureUrl" id="PictureUrl" class="text ui-widget-content ui-corner-all" style="width: 400px;" ></textarea>
                            </fieldset>
                            <a href="#" onclick="lz.getDlgCtx(this).$parent.setPicture()">OK</a>
                            <a href="#" onclick="lz.getDlgCtx(this).$parent.CancelForm()">Cancel</a>
                          </form>
                        </div>
                    </div>
                    <div>
                        <h2>
                            <span data-bind="if: FirstName() == '' && LastName() == '' && $parent.isNew()">Add New Contact</span>
                            <span data-bind="text: FirstName"></span>
                            <span data-bind="if: !$parent.isCompany()">
                                <span data-bind="text: LastName"></span>
                            </span>
                        </h2>
                    </div>
                    <div class="email">
                        <a data-bind="attr: { href: 'mailto:' + Email() }">
                            <div class="float-left"><img src="~/Images/email.png" height="20" /></div>
                            <div data-bind="if: Email() == ''" class="float-left">No Email Found</div>
                            <div data-bind="text: Email" class="float-left"></div>
                        </a>
                    </div>
                    <div class="social-rating">
                        <div class="rating">
                            <div data-bind="rateit: { value: Rating, max: 5, step: 0.1 }"></div>
                        </div>
                        <div class="social">
                        <span data-bind="attr: { 'class': $parent.Social().facebook || '' != '' ? 'on' : 'off' } ">
                            <div class="soc-link facebook" title="Facebook Profile Link" social="facebook"
                                data-bind="
    value: SocialData,
    qtip: '#fbHover',
    qtipType: 'Form',
    qtipOnShow: $parent.SetSocial"></div>
                        </span>
                        <span data-bind="attr: { 'class': $parent.Social().linkedin || '' != '' ? 'on' : 'off' } ">
                            <div class="soc-link linkedin" title="Linkedin Profile Link" social="linkedin"
                                data-bind="
    value: SocialData,
    qtip: '#liHover',
    qtipType: 'Form',
    qtipOnShow: $parent.SetSocial"></div>
                        </span>
                        <span data-bind="attr: { 'class': $parent.Social().twitter || '' != '' ? 'on' : 'off' } ">
                            <div class="soc-link twitter" title="Twitter Profile Link" social="twitter"
                                data-bind="
    value: SocialData,
    qtip: '#twHover',
    qtipType: 'Form',
    qtipOnShow: $parent.SetSocial"></div>
                        </span>
                        <div id="fbHover" class="dialog">
                            <label for="social-url">Facebook Profile Link:</label>
                            <input type="text" id="social-url" name="social-url" value="start" />
                            <a href="#" onclick="click: lz.getDlgCtx(this).$parent.UpdateSocial();">OK</a>
                            <a href="#" onclick="click: lz.closeDlg(this)">Cancel</a>
                        </div>
                        <div id="liHover" class="dialog">
                            <label for="social-url">Linkedin Profile Link:</label>
                            <input type="text" id="social-url" name="social-url" value="start" />
                            <a href="#" onclick="click: lz.getDlgCtx(this).$parent.UpdateSocial();">OK</a>
                            <a href="#" onclick="click: lz.closeDlg(this)">Cancel</a>
                        </div>
                        <div id="twHover" class="dialog">
                            <label for="social-url">Twitter Profile Link:</label>
                            <input type="text" id="social-url" name="social-url" value="start" />
                            <a href="#" onclick="click: lz.getDlgCtx(this).$parent.UpdateSocial();">OK</a>
                            <a href="#" onclick="click: lz.closeDlg(this)">Cancel</a>
                        </div>
                    </div>
                    </div>
                </section>
                
                <!-- Left Editor Part -->
                <ul class="edit-form float-left first">
                    <li data-bind="if: !$parent.isCompany()">
                        <span class="ui-icon ui-icon-person" data-bind="qtip: 'next-ph'"></span>
                        <span><input type="text" data-bind="value: FirstName" placeholder="First Name" data-required="true" maxlength="30" /></span>
                    </li>
                    <li data-bind="if: !$parent.isCompany()">
                        <span class="ui-icon ui-icon-person" data-bind="qtip: 'next-ph'"></span>
                        <span><input type="text" data-bind="value: LastName" placeholder="Last Name" maxlength="30"/></span>
                    </li>
                    <li data-bind="if: $parent.isCompany()">
                        <span class="ui-icon ui-icon-person" data-bind="qtip: 'next-ph'"></span>
                        <span><input type="text" data-bind="value: FirstName" placeholder="Company Name" data-required="true" maxlength="30" /></span>
                    </li>
                    <li class="company" data-bind="if: !$parent.isCompany()">
                        <span class="ui-icon ui-icon-suitcase" data-bind="qtip: 'next-ph'"></span>
                        <span class="rel">
                            <hidden data-bind="value: CompanyId" value="" ></hidden>
                            <input type="text" placeholder="Company" onclick="if ($(this).val() == '') $(this).autocomplete('search', '');" maxlength="30" data-bind="
                                value: $parent.EditCompanyName,
                                enable: !$parent.isCompany(),
                                valueUpdate: 'afterkeydown',
                                autocomplete_select: 'UpdateCompany',
                                autocomplete_render: 'renderCompany',
                                autoComplete: $parent.api + $parent.options.getAll(true) + '?$filter=substringof(\'REP_URL\',FirstName) and Category/Name eq \'Company\''" />
                            <div class="add-choice" data-bind="
                                showHide: (CompanyId() == undefined || CompanyId() == '0') && $parent.EditCompanyName() != '' && $parent.EditCompanyName() != undefined,
                                click: $parent.AddNewCompany ">Add</div>
                            <div class="add-form" data-bind="showHide: $parent.NewCompany">
                                 <ul class="float-left" data-bind="if: $parent.NewCompany">
                                    <li>
                                        <span><input type="text" id="comp-name" placeholder="Company Name" maxlength="30" data-required="true" /></span>
                                    </li>
                                     <li>
                                        <span><input type="text" id="comp-emal" placeholder="Email" maxlength="30"/></span>
                                    </li>
                                     <li>
                                        <span><input type="text" id="comp-pnum" placeholder="Phone Number" maxlength="15"/></span>
                                    </li>
                                    <li>
                                        <input type="button" value="Save" data-bind="click: $parent.saveCompany" />
                                        <input type="button" value="Cancel" data-bind="click: $parent.cancelCompany" />
                                     </li>
                                </ul>
                            </div>
                        </span>
                    </li>
                    <li>
                        <span class="ui-icon ui-icon-home" data-bind="qtip: 'next-ph'"></span>
                        <span><input type="text" data-bind="value: Country,
    autoComplete: '/api/contacts/GetCountries',
    autocomplete_select: 'UpdateCountry',
    autocomplete_render: 'renderCountry',
    autocomplete_cache: 'filterCountry'" placeholder="Country" maxlength="30"/></span>
                    </li>
                    <li>
                        <span><input type="text" data-bind="value: State,
    autoComplete: '/api/contacts/GetStates?country=' + ($parent.selectedCountryName() != '' ? $parent.selectedCountryName() : Country()),
    autocomplete_select: 'UpdateState',
    autocomplete_render: 'renderState',
    autocomplete_cache: 'filterState'" placeholder="State" maxlength="30"/></span>
                    </li>
                    <li>
                        <span><input type="text" data-bind="value: City,
    autoComplete: '/api/contacts/GetCities?country=' + ($parent.selectedCountry() != '' ? $parent.selectedCountry() : Country()),
    autocomplete_select: 'UpdateCity',
    autocomplete_cache: true" placeholder="City" maxlength="30"/></span>
                    </li>
                    <li>
                        <span><input type="text" data-bind="value: Street" placeholder="Street" maxlength="30"/></span>
                    </li>
                    <li>
                        <span><textarea data-bind="value: Notes" placeholder="Notes" maxlength="500"></textarea></span>
                    </li>
                </ul>
                
                <!-- Right Editor Part -->
                <ul class="edit-form float-left">
                    <li class="category">
                        <span class="ui-icon ui-icon-tag" data-bind="qtip: 'next-ph'"></span>
                        <span class="rel">
                            <hidden data-bind="value: CategoryId" value="" ></hidden>
                            <input type="text" placeholder="Category" onclick="if ($(this).val() == '') $(this).autocomplete('search', '');" maxlength="30" data-bind="
    value: $parent.EditCategoryName,
    valueUpdate: 'afterkeydown',
    autocomplete_select: 'UpdateCategory',
    autocomplete_render: 'renderCategory',
    autoComplete: $parent.cat_api + $parent.cat_options.getAll() + '?$filter=substringof(\'REP_URL\',Name)'" />
                            <div class="add-choice" data-bind="
    showHide: (CategoryId() == undefined || CategoryId() == '') && $parent.EditCategoryName() != '' && $parent.EditCategoryName() != undefined,
    click: $parent.saveCategory">Add</div>
                            <div class="add-form" data-bind="showHide: $parent.NewCategory">
                                 <ul class="float-left" data-bind="if: $parent.NewCategory">
                                    <li>
                                        <span><input type="text" id="cat-name" placeholder="Category Name" maxlength="30" data-required="true" /></span>
                                    </li>
                                    <li>
                                        <input type="button" value="Save" data-bind="click: $parent.saveCategory" />
                                        <input type="button" value="Cancel" data-bind="click: $parent.cancelCategory" />
                                     </li>
                                </ul>
                            </div>
                        </span>
                    </li>
                    <li>
                        <span class="ui-icon ui-icon-mail-closed" data-bind="qtip: 'next-ph'"></span>
                        <span>
                            <input type="text"
                                data-bind="value: Email"
                                placeholder="Email"
                                data-required="true"
                                data-email="true"
                                maxlength="265" /></span>
                    </li>
                    <li>
                        <span><input type="tel" data-bind="value: PhoneNumber, chars: 'phone'" placeholder="Phone Number" data-phone="true" data-validate="true" maxlength="20" /></span>
                    </li>
                    <li>
                        <span><input type="text" data-bind="value: MobileNumber, chars: 'phone'" placeholder="Mobile Number" data-phone="true" data-validate="true" maxlength="20" /></span>
                    </li>
                    <li>
                        <span><input type="text" data-bind="value: FaxNumber, chars: 'phone'" placeholder="Fax Number" data-phone="true" data-validate="true" maxlength="20" /></span>
                    </li>
                    <li data-bind="if: !$parent.isCompany()">
                        <span><input type="text" placeholder="Birthday" data-date="true" data-validate="true" data-bind="
    datepicker: Birthday,
    datepickerOptions: { 
        changeMonth: true,
        changeYear: true,
        yearRange: '-100:+0',
        showOtherMonths: true,
        selectOtherMonths: true }"  /></span>
                    </li>
                    <li class="chk-height" data-bind="if: !$parent.isCompany()">
                        <span>
                            <select data-bind="options: [ 'Single', 'Married', 'Divorced', 'Other' ], value: Single" ></select></span>
                        <!--label onclick="$(this).prev().click()">Single</!--label-->
                    </li>
                    <li data-bind="if: !$parent.isCompany()">
                        <span>
                            <input type="text" data-bind="value: SocialSecurity" maxlength="15" placeholder="Social Security / ID" /></span>
                    </li>
                    <li data-bind="if: !$parent.isCompany()">
                        <span>
                            <input type="text" data-bind="value: DrivingLisence" maxlength="15" placeholder="Driving Lisence" /></span>
                    </li>
                    <li>
                        <label style="white-space:nowrap" data-bind="ifnot: $parent.isNew()">
                            <span>Last Update: </span>
                            <span data-bind="text: moment(LastUpdate()).format('LL')"></span>
                        </label>
                    </li>
                </ul>
                
                <!-- Save Actions -->
                <div class="float-left clear-both">
                    <div data-bind="foreach: $parent.validationErrors">
                        <div data-bind="text: $data"></div>
                    </div>
                    <input type="button" value="Save" data-bind="click: $parent.save" />
                    <input type="button" value="Cancel" data-bind="click: $parent.cancelEdit" />
                    <input type="button" value="Delete" data-bind="click: $parent.remove, visible: !$parent.isNew()" />
                </div>
            </div>
        </div>
    </div>
</div>
