@{
    ViewBag.Title = "Production Manager";
}

<h1>@ViewBag.Title.</h1>
<h2>@ViewBag.Message</h2>

@Html.Partial("_Contacts")

@section Scripts 
{
    <script src="~/Scripts/knockout.mapping-latest.debug.js"></script>
       <script src="~/Scripts/Widget/lz.widget.contact-1.0.0.js"></script>
}