@{
    ViewBag.Title = "Production Manager";
}

@section title
{
    <h1>@ViewBag.Title</h1>
}

<div data-bind="ifnot: allloaded()">
    <div class="loader"><img src="~/Images/wait.gif" /></div>
</div>
<section style="display:none;" class="tabs" data-bind="showHide: allloaded()">
    <ul>
        <li><a href="#tabContacts" tabTrigger="#/Contacts" tabSubPath="#tabContacts .vm-view" tabDefault="true">Contacts</a></li>
        <li><a href="#tabEvents" tabTrigger="#/Events" tabSubPath="#tabEvents .vm-view">Events</a></li>
    </ul>
    <div id="tabContacts" class="lz-tab">
        @Html.Partial("_Contacts")
    </div>
    <div id="tabEvents" class="lz-tab">
        <label>Contacts Widget:</label>
        @Html.Partial("_Contacts_WG")
    </div>
</section>


@section Scripts 
{
    <script src="~/Scripts/jquery-ui-1.10.3.min.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.debug.js"></script>
    <script src="~/Scripts/jquery.qtip.js"></script>        
    <script src="~/Scripts/jquery.rateit.js"></script>
    <script src="~/Scripts/moment-with-langs.min.js"></script>
    <script src="https://www.google.com/jsapi" type="text/javascript"></script>
    <script src="~/Scripts/Widget/lz.widget.contact-1.0.0.js"></script>
    <script src="~/Scripts/Widget/lz.widget.contact-wg-1.0.0.js"></script>
}
@section DefaultStyles
{
    @Styles.Render("~/Content/themes/base/css")
}
@section CustomStyles
{
}